*{
    margin:0%;
   
} 
 html{
    background: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-41740.jpg?w=740&t=st=1706464799~exp=1706465399~hmac=2283d492c8498dcc9d3b90c89105143eb53ab53a568bd1220ae3b6695aefa276);
    background-repeat: repeat;
    background-size: cover;
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
} 

#header{
    background: rgb(219, 132, 102);
    padding: .3%; 
    display: flex;
    width: 100%; 
    align-items: center;
    box-shadow: 0 10px 10px rgb(237, 179, 159);
    position: relative;
}

#header>img{
    position: relative;
    float: inline-start;
    height: 90px;
    padding-right: 2%;
}

#header>h1{
    position: relative;
    font-size: 30px;
    color: black;
   
}
a{
    text-decoration: none;
}
#sac{
    text-align: center;
    font-family:Verdana;
    font-size: 45px;
    font-weight: bold;
    margin-top: 1.5%;
}

.btn{
    margin-left: 20%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    margin-top: 2%;
}

.btn>div{
    padding-top: 8%;
    padding-bottom: 8%;
    border: none;
    width: 70%;
    height: 50%;
    margin-bottom: 15%;
    border-radius: 10px;
    transition: transform 0.5s;  
    color: white;
    filter:opacity(75%);
}

.btn>div:hover{
    transform: scale(1.1);
    filter:opacity(100%);
    
}

.btn #tech{
    background-image: url("https://images.unsplash.com/photo-1561144257-e32e8efc6c4f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");   
    background-size: cover;
}

.btn #fms{
    background-image: url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");    
    background-size: cover;
}

.btn #sports{
    background-image: url("https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?q=80&w=1907&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.btn #cultural{
    background-image: url("https://images.unsplash.com/photo-1622555064177-d12cc627e87a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.text{
    color:white;
    text-align: center;
    margin-top: 40px;
    opacity: 100%;
    text-shadow: black; 
    filter: opacity(100%);
}