 *{
    margin:0%;
   
} 
 html{
    background: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-41740.jpg?w=740&t=st=1706464799~exp=1706465399~hmac=2283d492c8498dcc9d3b90c89105143eb53ab53a568bd1220ae3b6695aefa276);
    background-repeat: repeat;
    background-size: cover;
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
} 

#header{
    background-color: rgb(219, 132, 102);
     padding: .3%; 
    display: flex;
    width: 100%; 
    align-items: center;
     box-shadow: 0 10px 10px rgb(237, 179, 159);
}

#header>img{
    position: relative;
    float: inline-start;
    height: 90px;
    padding-right: 2%;
}

#header>h1{
    position: relative;
    font-size: 30px;
    color: black;
   
}
#header>button{
    background-color: rgb(219, 132, 102);
    font-size: 40px;
 color: black;
 border: none;
  position: absolute;
  right: 10px;
} 
.head{
    margin-top: 15px;
    text-align: center;
}
#ritvic_logo{
    /* border: 1px solid black; */
    height: 180px;
    border-radius: 50%;
}

#elementToToggle{
    height: 200px;
    width: 500px;
    background-color: aliceblue;
    border: 2px solid rgb(219, 132, 102);
    box-shadow: 0px 3px 10px rgb(219, 132, 102);
    overflow-y: auto;
   position: absolute;
right: 0px;
}
#elementToToggle>h1{
   padding:15px;
}
#elementToToggle>#sort{
    font-size: 15px;
    position: absolute;
    right: 0px;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
    color: rgb(71, 31, 31);
}





#hash{
color: rgb(25, 25, 58);

}
.about{
    margin-top: 150px;
    margin-left: 10px;
}
#abt,#mis{
   
    margin-left: 20px; font-size: 50px;
}
p{
    text-align: center;
    font-size: 25px;
}
.mission{
    margin-top: 100px;
    margin-left: 10px;
}

li{
    text-align: start;
    font-size: 25px;
    padding-left: 18px;
    padding-top: 8px;
}



#slider-container {
    width: 700px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 150px;
}
#image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  #image-slider>img{
    height:500px;
    width: 700px;
    object-fit: cover;

  }
  #prev{
    position: relative;
    bottom: 280px;
    left: 410px;
    font-size: 40px;
    color: aliceblue;
border: none;
   
  }

  #next{
    position: relative;
    bottom: 280px;
    left: 1030px;
    font-size: 40px;
    color: aliceblue;
border: none;
   
  }
  button {
    cursor: pointer;
    color: aliceblue;
    background-color: black;
  }

.social{
   font-size: 50px; 
    margin-top: 80px;
    margin-left: 25px;
}

#lin{
    font-size: 45px;
    padding-left: 25px;
    color:  rgb(71, 31, 31);
}