*{
    margin: 0;
    padding: 0;
}
.logo img{
    height: 100px;
    width: 100px;
}
.superclass img{
    height: 200px;width: 200px;
    border-radius: 50%;
    filter: grayscale(50%);
    transition: transform 0.4s;
    box-shadow: black;
   box-shadow: 0px 0px 15px 2px black;
}
.navbar{
    box-shadow: 0 10px 10px rgb(237, 179, 159);
}*{
    margin:0%;
   
} 

 html{
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
} 

.navbar{
    background-color: rgb(219, 132, 102);
     padding: .3%; 
    display: flex;
    width: 100%; 
    align-items: center;
     box-shadow: 0 10px 10px rgb(237, 179, 159);
}

.navbar>img{
    position: relative;
    float: inline-start;
    height: 90px;
    padding-right: 2%;
}

.navbar>h1{
    position: relative;
    font-size: 30px;
    color: black;
   
}
.mav{
    padding-left: 50px;
}
.synergy{
    padding-right: 50px;
}
.ritvic{
    padding-left: 50px;
}
.heartbeats{
    padding-right: 50px;
}
.superclass img:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}
.superclass2 img:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}
.superclass2 img{
    height: 200px;
    width: 200px;
    filter: grayscale(50%);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 2px black;
    transition: transform 0.4s;
}
.s{
    padding-top: 10px;
    padding-left: 645px;
    font-size: 45px;
}
h2{
    text-align: center;
}
.superclass{
    display: flex;
    justify-content: space-between;
}
.superclass2{
    display: FLEX;
    justify-content: space-around;
}
.navbar{
    background:  #e27d4e;
    display: flex;
    position: sticky;
    height: 100px;
}
.navbar h1{
    padding-top: 30px;
    padding-left: 10px;
}
body{
    background: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-41740.jpg?w=740&t=st=1706464799~exp=1706465399~hmac=2283d492c8498dcc9d3b90c89105143eb53ab53a568bd1220ae3b6695aefa276);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Saraburn',sans-serif;
}
.superclass2 h4{
    padding-left: 56px;
    padding-top: 20px;
}
.superclass h4{
    padding-left: 55px;
    padding-top: 20px;
}
.eye h4{
   padding-right: 15px;
} 
h4 {
    text-decoration: none; 
    color: #333; 
    position: relative;
    transition: color 0.3s ease; 
  }
 h4:hover {
    color: #e27d4e; 
  }
h4::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 4px;
    background-color: #e27d4e; 
    transition: width 0.3s ease;
}


 h4:hover::after {
    width: 100%;
  }